<!DOCTYPE html>
<html>
    <head>
        <title>Blog Django</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog Django</a></h1>
        </header>

        <article>
            <time>publication: 14.06.2014, 12:14</time>
            <h2><a href="">Mon premier article</a></h2>
            <p>Nous avons créé ici une section en-tête et deux sections article.
Le premier élément header contient le titre de notre blog - c'est à la fois un titre et un lien. Les deux éléments article contiennent nos articles de blog avec une date de publication dans un élément time un élément h2 avec un titre de publication qui est cliquable et un élément p (paragraphe) pour le texte de notre blog.</p>
        </article>

        <article>
            <time>publication: 14.06.2014, 12:14</time>
            <h2><a href="">Mon second article</a></h2>
            <p>Head et Body
Chaque page HTML est divisée en deux éléments : head (entête) et body (corps.
head est un élément qui contient des informations sur le document : son contenu ne s'affichera pas à l'écran.
body est un élément qui contient tout le reste. Son contenu s'affichera à l'écran et constituera notre page web.</p>
        </article>
    </body>
</html>